<div id="principal" style="align-content: center;">
  <h1>CONVERSOR DE UNIDADES IMPORTANTES</h1>

  <table>
    <tr>
      <td><label for="metros" >Metros:</label></td>
      <td><input id="metros" name="metros" type="number" placeholder="0" (change)="metrosGonzalos()" [(ngModel)]="metros"/></td>
    </tr>
    <tr>
      <td><label for="gonzalos" >Gonzalos:</label></td>
      <td><input id="gonzalos" name="gonzalos" type="number" placeholder="0" (change)="gonzalosMetros()" [(ngModel)]="gonzalos"/></td>
    </tr>
  </table>
</div>
